<h2>My Questions</h2>
<ul class="questions">
  <li *ngFor="let question of questions">
    <a routerLink="/quiz-edit/{{question.id}}">
      <span class="badge">{{question.id}}</span> {{question.text}}
    </a>
    <button class="delete" title="delete question"
            (click)="delete(question)">x</button>
  </li>


</ul>

<div>
  <label>Question title:
    <input #questionTitle />
  </label>

  <label>
    Select type of question
    <select #typeName>
      <option value="Choose answer">Choose answer</option>
      <option value="True/False">True/False</option>
      <option value="Open answer">Open answer</option>
    </select>
  </label>
  
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(questionTitle.value, typeName.value); questionTitle.value=''">
    add
  </button>
</div>
<app-quiz-edit></app-quiz-edit>
