<p>details</p>
<div *ngIf="question">
  <h2>{{question.text | uppercase}} Details</h2>
  <div><span>id: </span>{{question.id}}</div>
  <div>
    <span>Question type:{{question.type.name}}</span>
  </div>
  <div>
    <label for="text">text:
      <input [(ngModel)]="question.text" id="text" placeholder="text"/>
    </label>
  </div>
  <div>
    <span>Options:</span>
    <ol class="options">
      <li *ngFor="let option of question.options">
        <span class="badge">{{option.text}}</span>

        <!--<label for="text">text:-->
          <!--<input [(ngModel)]="option.text" id="option" placeholder="option"/>-->
        <!--</label>-->
      </li>
    </ol>
    <div>
      <label>Option:
        <input type="checkbox" id="correct" #optionCorrect/>
        <input #optionText />
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <div *ngIf="question.options === undefined || question.options.length < 4">
        <button (click)="add(optionCorrect.defaultChecked, optionText.value); optionText.value=''">
          add
        </button>
      </div>
    </div>

  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>

